# Virtual env
venv/
.venv/

# PyCharm
.idea/

# Python
__pycache__/
*.pyc

# Environment
.env

# Database
db.sqlite3

media/

# Logs
*.log

# Coverage
.coverage
htmlcov/
.coverage.*

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/
