<nav class="sidebar col-md-3 col-lg-2 bg-dark text-white p-4">
    <h3 class="sidebar-title mb-4 fw-bold">
        HelpDesk
    </h3>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a
                class="nav-link active text-white"
                href="{% url 'home' %}"
            >
                Главная
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Заявки
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                Статистика
            </a>
        </li>

    </ul>
</nav>
